/* General */
* {
    padding: 0;
    /* border: 1px solid black; */
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 200px 1fr / 300px 1fr;
    background-color: #d8e0e7;
}

img {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.icon-img {
    padding: 10px;
}

.big-img {
    width: 80px;
    height: 80px;
}

.profile-img {
    border-radius: 50%;
}

/* Header */
header {
    grid-area: 1 / 2 / 2 / 3;
}

header > div {
    margin: 0 20px;
}

.top-header {
    display: grid;
    grid-template-columns: 1fr 60px 60px 150px;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
}

.search img {
    flex: none;
}

header input {
    flex: 0 1 450px;
    border: 0;
    background-color: #ccc;
    height: 25px;
    border-radius: 12px;
}

.bot-header {
    display: grid;
    grid-template-columns: 80px 1fr 100px 100px 100px;
    align-items: center;
    gap: 10px;
    margin-top: 20px
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Sidebar */
nav {
    grid-area: 1 / 1 / 3 / 2;
}

.menugroup {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-auto-rows: 50px;
    align-items: center;
    margin: 10px 10px 50px 10px;
}

/* Main area */
main {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
    padding: 20px;
}

.sectionbox {
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 4px #ccc;
    padding: 20px;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
}

main h2 {
    margin: 30px 0px 10px 0px;
}

.cardgrid {
    display: grid;
    grid-template: 220px / repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 220px;
    gap: 20px;
}

.projcard {
    display: grid;
    grid-template-rows: 2em 110px 50px;
    border-left: 5px solid gold;
}

.projcard > p {
    overflow: hidden;
}

.projbuttons {
    justify-self: right;
}

.projbuttons > button {
    background-color: transparent;
    border: 0;
}

.project-side-area {
    grid-column-start: 2;
}

.grayline {
    border-top: 2px solid #d8e0e7;
    margin: 10px 0;
}

.trending-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-auto-rows: 50px;
    gap: 10px;
    align-items: center;
}
